body {
    background-color: rgb(28, 25, 25)
}

div {
    background-color: rgb(199, 219, 183)
}

#presentation {
    background-color: white;
}

#presentation h3 {
    color: #888888;
    
}
#presentation p {
    color: #888888;
}

#contact {
    display: inline-block;
    width: 100%;
}

#contact p {
    width: 50%;
    background-color: #eaecef;
}
