body {
    background-color: rgb(28, 25, 25);
    font-size: 20px;
}

main {
    background-color: #eff3f4;
    margin: 128px 270px 130px 265px;
    padding: 77px 125px 118px 125px;
    width: 728px;
    height: 419px;
}

#presentation {
    background-color: white;
    padding-left: 1em;
    display: flex;
    text-align: justify;
}

#presentation h2 {
    color: #444444;
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-size: 30px;

}
#mtr {
    display: flex;
    text-align: justify;
    background-color: white;
    padding-left: 1em;
}

#mtr h3 {
    color: #888888;
    padding-right: 1em;
    font-size: 30px;
}

#mtr p {
    color: #CCCCCC;
}

#contact {
    background-color: #eaecef;
    width: ;
    height: 66px;
    display: flex;
    padding-left: 1em;
    text-align: justify;
}

a {
    color: #45aacc;


}

#tel {
    background-color: #eaecef;
    color: #5F6469;
    text-align: justify;
    padding-left: 10em;
}
